body
{
  height: 100vh;
  box-sizing: border-box;
  display :flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.header
{
  display:flex;
  justify-content: space-between;
  padding:16px;

}
ul{
  display: flex;
  list-style-type: none;
  gap :16px;
  color:black;
}
img{
  width:200px;
  height: auto;
}
a{
  text-decoration: none;
  color:black;
}
.section-1{
  display: flex;
   padding: 10px 10px;
   
   background: #E5E7EB;
   justify-content: center;
   align-items: center;
   gap:100px;
}
.section-1-1
{
 
  display:flex;
  flex-direction: column;
  width:500px;
  gap:20px;

}
.title
{
  font-size:40px;
}
.main-image
{
  width:400px;
  height: auto;
}
img{
  border-radius: 10px;
}
.footer
{
  background:#E5E7EB;
height:50px;
display:flex;
justify-content: center;
align-items: center;

}
.container
{
  display:flex;
  
  background-color: #E5E7EB;
  width: 600px;
  height:100px;
 padding:30px;
  gap: 90px;
  border-radius: 8px;


}

.section-4
{
  display:flex;
  justify-content: center;
  align-items:center;
  height:500px;
  padding:100px;
}
.sign-up-btn
{
  padding:10px;
  width:100px;
  border-radius:8px;
  font-weight: bold;
  font-size: 16px;
}
.bottom
{
  margin-top: 30px;
}
.section-3
{
  display:flex;
  justify-content: center;
  align-items: center;
  height:500px;
  padding:50px;
}
.section3-1
{
  display: flex;
  flex-direction: column;

}
.section-2
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container
{
  display: flex;
  gap:100px;

}
.image-box
{
  width:200px;
}
.section-1,.section-2,.section-3,.section-4
 {
  height: 500px;
}